.popup__close-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/closeicon.svg);
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  border: none;
  transition: .3s;
  cursor: pointer;
}

.popup__close-btn:hover {
  opacity: .6;
}

@media screen and (max-width: 700px) {
  .popup__close-btn  {
    right: 0;
    width: 20px;
    height: 20px;
  }
}